$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyanTransparent: hsla(178, 100%, 50%, 0.459);
$veryDarkblueMain: hsl(217, 54%, 11%);
$veryDarkblueCard: hsl(216, 50%, 16%);
$veryDarkblueLine: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
